<div class="content bg-top-image"
  style="background-image: url(https://image.tmdb.org/t/p/w220_and_h330_face{{movieDetails.backdrop_path}});">
  <div class="background-image">
    <div class="row" style="margin-right:0px; padding-top:30px;">
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <img class="image-avatar" alt="" class="thumbnail image"
          src="https://image.tmdb.org/t/p/w220_and_h330_face{{movieDetails.backdrop_path}}">
        <p>
          <a class="btn btn-info btn-block" target="_blank" href="http://www.thegodfather.com/">Visit Movies Website</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>
          {{movieDetails.title}}
          <small class="label label-warning">
            {{movieDetails.vote_average}}
            <i class="glyphicon glyphicon-star"></i>
          </small>
        </h2>
        <div class="facts">
          <span class="certification">
            PG-13
          </span>

          <span class="release">
            {{movieDetails.release_date}}
          </span>


          <span class="genres" *ngFor="let geners of movieDetails.genres">
            <a href="/genre/878-science-fiction/movie"> {{geners.name}}</a>,&nbsp;
          </span>

          <span class="runtime">
            3h 12m
          </span>
        </div>
        <h3>Overview</h3>
        <p>
          {{movieDetails.overview}}
        </p>
        <h3 class="tagline" dir="auto">{{movieDetails.tagline}}</h3>
        <div class="row is-flex">
          <ol class="people no_image">
            <li class="profile">
              <p><a href="/person/2710-james-cameron">Statue</a></p>
              <p class="character">{{movieDetails.status}}</p>
            </li>
            <li class="profile">
              <p><a href="/person/67803-amanda-silver">Original Language</a></p>
              <p class="character">{{movieDetails.original_language =='en'? 'English': movieDetails.original_language}}
              </p>
            </li>
            <li class="profile">
              <p><a href="/person/67802-rick-jaffa">Budget</a></p>
              <p class="character">{{movieDetails.budget}}</p>
            </li>
            <li class="profile">
              <p><a href="/person/507-josh-friedman">Revenue</a></p>
              <p class="character">{{movieDetails.revenue |currency}}</p>
            </li>
            <li class="profile">
              <p><a href="/person/6039-shane-salerno">Vote Count</a></p>
              <p class="character">{{movieDetails.vote_count}}</p>
            </li>
          </ol>
        </div>
        <div class="row is-flex">
          <div class="col-md-12">
            <h3 class="text-center">Production Details</h3>
          </div>

          <div class="col-md-3" *ngFor="let images of movieDetails.production_companies">
            <div class="thumbnail" style="background: white">
              <img alt="" class="rounded-circle"
                src="https://image.tmdb.org/t/p/w220_and_h330_face{{images.logo_path}}">
              <div class="caption">
                <h6 class="text-center"><a>{{images.name}}</a>
                </h6>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</div>
