<div>
  <div class="my-container-wrap">
    <div class="example-card"
      *ngFor="let item of obs | async">
      <div class="card-view">
        <div class="card-header aquaMan" (click)="navigateMovieDetails(item.id)">
          <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{item.poster_path}}" width="100%">
        </div>
        <div class="card-movie-content">
          <div class="card-movie-content-head">
            <a>
              <h3 class="card-movie-title">{{ item.titile }}</h3>
            </a>
            <div class="ratings"><span>{{item.vote_count}}</span>/1000</div>
          </div>
          <div class="card-movie-info">
            <div class="movie-running-time">
              <label>Release date</label>
              <span>{{item.release_date}}</span>
            </div>
            <div class="movie-running-time">
              <label>Popularity</label>
              <span>{{item.popularity}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-container-wrap">
    <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 12,15,18,21]">
    </mat-paginator>
  </div>
</div>
