<div id="trending_scroller" class="media discover scroller_wrap should_fade is_fading">
    <div class="column_content flex scroller loaded" style="">      <div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/76600" title="Avatar: The Way of Water">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg" srcset="/t/p/w220_and_h330_face/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg 1x, /t/p/w440_and_h660_face/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="76600" data-object-id="4e9de7a65e73d65e02000328" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 4e9de7a65e73d65e02000328" data-percent="77.5" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r78"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/76600" title="Avatar: The Way of Water">Avatar: The Way of Water</a></h2>
<p>14 Dec 2022</p>
</div>

<div class="hover 76600"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/726759" title="Tetris">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/4F2QwCOYHJJjecSvdOjStuVLkpu.jpg" srcset="/t/p/w220_and_h330_face/4F2QwCOYHJJjecSvdOjStuVLkpu.jpg 1x, /t/p/w440_and_h660_face/4F2QwCOYHJJjecSvdOjStuVLkpu.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="726759" data-object-id="5f18a10fa6d9310034800877" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5f18a10fa6d9310034800877" data-percent="76.78" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r77"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/726759" title="Tetris">Tetris</a></h2>
<p>15 Mar 2023</p>
</div>

<div class="hover 726759"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/638974" title="Murder Mystery 2">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/5wpVy0KUWzDKDKgrayM0Q8lXOiK.jpg" srcset="/t/p/w220_and_h330_face/5wpVy0KUWzDKDKgrayM0Q8lXOiK.jpg 1x, /t/p/w440_and_h660_face/5wpVy0KUWzDKDKgrayM0Q8lXOiK.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="638974" data-object-id="5da298211967570013a99bbb" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5da298211967570013a99bbb" data-percent="66.02000000000001" data-track-color="#423d0f" data-bar-color="#d2d531">
    <div class="percent">
        <span class="icon icon-r66"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/638974" title="Murder Mystery 2">Murder Mystery 2</a></h2>
<p>26 Mar 2023</p>
</div>

<div class="hover 638974"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/677179" title="Creed III">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg" srcset="/t/p/w220_and_h330_face/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg 1x, /t/p/w440_and_h660_face/cvsXj3I9Q2iyyIo95AecSd1tad7.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="677179" data-object-id="5e55ba97a93d2500134fa1ee" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5e55ba97a93d2500134fa1ee" data-percent="72.96000000000001" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r73"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/677179" title="Creed III">Creed III</a></h2>
<p>01 Mar 2023</p>
</div>

<div class="hover 677179"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/849869" title="Kill Boksoon">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg" srcset="/t/p/w220_and_h330_face/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg 1x, /t/p/w440_and_h660_face/taYgn3RRpCGlTGdaGQvnSIOzXFy.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="849869" data-object-id="60ec1b53140bad00732cc9d2" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 60ec1b53140bad00732cc9d2" data-percent="68.27" data-track-color="#423d0f" data-bar-color="#d2d531">
    <div class="percent">
        <span class="icon icon-r68"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/849869" title="Kill Boksoon">Kill Boksoon</a></h2>
<p>17 Feb 2023</p>
</div>

<div class="hover 849869"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/603692" title="John Wick: Chapter 4">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg" srcset="/t/p/w220_and_h330_face/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg 1x, /t/p/w440_and_h660_face/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="603692" data-object-id="5ce32ed89251412d00be7e96" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5ce32ed89251412d00be7e96" data-percent="80.66000000000001" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r81"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/603692" title="John Wick: Chapter 4">John Wick: Chapter 4</a></h2>
<p>22 Mar 2023</p>
</div>

<div class="hover 603692"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/493529" title="Dungeons &amp; Dragons: Honor Among Thieves">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/6LuXaihVIoJ5FeSiFb7CZMtU7du.jpg" srcset="/t/p/w220_and_h330_face/6LuXaihVIoJ5FeSiFb7CZMtU7du.jpg 1x, /t/p/w440_and_h660_face/6LuXaihVIoJ5FeSiFb7CZMtU7du.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="493529" data-object-id="5a38778c0e0a264cc82048f6" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5a38778c0e0a264cc82048f6" data-percent="75.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r75"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/493529" title="Dungeons &amp; Dragons: Honor Among Thieves">Dungeons &amp; Dragons: Honor Among Thieves</a></h2>
<p>23 Mar 2023</p>
</div>

<div class="hover 493529"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/502356" title="The Super Mario Bros. Movie">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg" srcset="/t/p/w220_and_h330_face/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg 1x, /t/p/w440_and_h660_face/qNBAXBIQlnOThrVvA6mA2B5ggV6.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="502356" data-object-id="5a73673492514105a900ee77" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5a73673492514105a900ee77" data-percent="87.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r87"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/502356" title="The Super Mario Bros. Movie">The Super Mario Bros. Movie</a></h2>
<p>05 Apr 2023</p>
</div>

<div class="hover 502356"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/tv/220538" title="War Sailor">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/fVeJkFAWjKxlfbD8Rt4foBqL71h.jpg" srcset="/t/p/w220_and_h330_face/fVeJkFAWjKxlfbD8Rt4foBqL71h.jpg 1x, /t/p/w440_and_h660_face/fVeJkFAWjKxlfbD8Rt4foBqL71h.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="220538" data-object-id="63ed8e118e870200823bb39a" data-media-type="tv" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 63ed8e118e870200823bb39a" data-percent="89.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r89"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/tv/220538" title="War Sailor">War Sailor</a></h2>
<p>02 Apr 2023</p>
</div>

<div class="hover 220538"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/tv/83121" title="Kaguya-sama: Love Is War">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg" srcset="/t/p/w220_and_h330_face/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg 1x, /t/p/w440_and_h660_face/5khbC6AuNgnvnoDbjIMKCOhEtIc.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="83121" data-object-id="5bc35421c3a3682d5b04afcc" data-media-type="tv" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5bc35421c3a3682d5b04afcc" data-percent="87.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r87"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/tv/83121" title="Kaguya-sama: Love Is War">Kaguya-sama: Love Is War</a></h2>
<p>12 Jan 2019</p>
</div>

<div class="hover 83121"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/997317" title="Kaguya-sama: Love Is War -The First Kiss That Never Ends-">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/jY092qLqa7qTMelwRiNPpLUolEz.jpg" srcset="/t/p/w220_and_h330_face/jY092qLqa7qTMelwRiNPpLUolEz.jpg 1x, /t/p/w440_and_h660_face/jY092qLqa7qTMelwRiNPpLUolEz.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="997317" data-object-id="62c7b13ff29d66004e413b78" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 62c7b13ff29d66004e413b78" data-percent="83.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r83"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/997317" title="Kaguya-sama: Love Is War -The First Kiss That Never Ends-">Kaguya-sama: Love Is War -The First Kiss That Never Ends-</a></h2>
<p>17 Dec 2022</p>
</div>

<div class="hover 997317"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/816904" title="Mummies">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/qVdrYN8qu7xUtsdEFeGiIVIaYd.jpg" srcset="/t/p/w220_and_h330_face/qVdrYN8qu7xUtsdEFeGiIVIaYd.jpg 1x, /t/p/w440_and_h660_face/qVdrYN8qu7xUtsdEFeGiIVIaYd.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="816904" data-object-id="60719a15839d930029868344" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 60719a15839d930029868344" data-percent="71.38" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r71"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/816904" title="Mummies">Mummies</a></h2>
<p>05 Jan 2023</p>
</div>

<div class="hover 816904"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/739405" title="Operation Fortune: Ruse de Guerre">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/vQGw9lzfh9hEoYSOWAE5XbZ6J7s.jpg" srcset="/t/p/w220_and_h330_face/vQGw9lzfh9hEoYSOWAE5XbZ6J7s.jpg 1x, /t/p/w440_and_h660_face/vQGw9lzfh9hEoYSOWAE5XbZ6J7s.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="739405" data-object-id="5f5161f1a199a60035274b1a" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5f5161f1a199a60035274b1a" data-percent="67.44" data-track-color="#423d0f" data-bar-color="#d2d531">
    <div class="percent">
        <span class="icon icon-r67"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/739405" title="Operation Fortune: Ruse de Guerre">Operation Fortune: Ruse de Guerre</a></h2>
<p>04 Jan 2023</p>
</div>

<div class="hover 739405"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/447365" title="Guardians of the Galaxy Volume 3">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/iW0d8E5VWfIeCLCPbs6yn0rJkZh.jpg" srcset="/t/p/w220_and_h330_face/iW0d8E5VWfIeCLCPbs6yn0rJkZh.jpg 1x, /t/p/w440_and_h660_face/iW0d8E5VWfIeCLCPbs6yn0rJkZh.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="447365" data-object-id="58cb3d8d9251415e76005e9c" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 58cb3d8d9251415e76005e9c" data-percent="0.0" data-track-color="#666666" data-bar-color="#d4d4d4">
    <div class="percent">
        <span class="icon icon-rNR"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/447365" title="Guardians of the Galaxy Volume 3">Guardians of the Galaxy Volume 3</a></h2>
<p>03 May 2023</p>
</div>

<div class="hover 447365"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/932430" title="Prom Pact">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/zVgRfuBvsFTU4mFvDt1Qlqo1CRo.jpg" srcset="/t/p/w220_and_h330_face/zVgRfuBvsFTU4mFvDt1Qlqo1CRo.jpg 1x, /t/p/w440_and_h660_face/zVgRfuBvsFTU4mFvDt1Qlqo1CRo.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="932430" data-object-id="61f59a4037b3a900982c829b" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 61f59a4037b3a900982c829b" data-percent="78.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r78"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/932430" title="Prom Pact">Prom Pact</a></h2>
<p>30 Mar 2023</p>
</div>

<div class="hover 932430"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/565770" title="Blue Beetle">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/esYoyv5ZK2iUHRViwpbYNHcK4pp.jpg" srcset="/t/p/w220_and_h330_face/esYoyv5ZK2iUHRViwpbYNHcK4pp.jpg 1x, /t/p/w440_and_h660_face/esYoyv5ZK2iUHRViwpbYNHcK4pp.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="565770" data-object-id="5c01bcd20e0a26360e087b05" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5c01bcd20e0a26360e087b05" data-percent="0.0" data-track-color="#666666" data-bar-color="#d4d4d4">
    <div class="percent">
        <span class="icon icon-rNR"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/565770" title="Blue Beetle">Blue Beetle</a></h2>
<p>16 Aug 2023</p>
</div>

<div class="hover 565770"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/514999" title="Murder Mystery">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/bSMSO9xupd4R4vwTPqigHn2quLN.jpg" srcset="/t/p/w220_and_h330_face/bSMSO9xupd4R4vwTPqigHn2quLN.jpg 1x, /t/p/w440_and_h660_face/bSMSO9xupd4R4vwTPqigHn2quLN.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="514999" data-object-id="5abd53dbc3a36843a603252d" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 5abd53dbc3a36843a603252d" data-percent="63.0" data-track-color="#423d0f" data-bar-color="#d2d531">
    <div class="percent">
        <span class="icon icon-r63"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/514999" title="Murder Mystery">Murder Mystery</a></h2>
<p>25 May 2019</p>
</div>

<div class="hover 514999"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/movie/1049638" title="Rye Lane">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/z1B8GAem6gtcMDmdWtxkeq5FSgC.jpg" srcset="/t/p/w220_and_h330_face/z1B8GAem6gtcMDmdWtxkeq5FSgC.jpg 1x, /t/p/w440_and_h660_face/z1B8GAem6gtcMDmdWtxkeq5FSgC.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="1049638" data-object-id="637619c62faf4d00dc9940d0" data-media-type="movie" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 637619c62faf4d00dc9940d0" data-percent="74.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r74"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/movie/1049638" title="Rye Lane">Rye Lane</a></h2>
<p>17 Mar 2023</p>
</div>

<div class="hover 1049638"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/tv/208493" title="I Got a Cheat Skill in Another World and Became Unrivaled in the Real World, Too">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/2kTYmmOU8SsDxSijIDpz9vkT9la.jpg" srcset="/t/p/w220_and_h330_face/2kTYmmOU8SsDxSijIDpz9vkT9la.jpg 1x, /t/p/w440_and_h660_face/2kTYmmOU8SsDxSijIDpz9vkT9la.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="208493" data-object-id="62ff5623fe6c180093890c3f" data-media-type="tv" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 62ff5623fe6c180093890c3f" data-percent="90.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r90"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/tv/208493" title="I Got a Cheat Skill in Another World and Became Unrivaled in the Real World, Too">I Got a Cheat Skill in Another World and Became Unrivaled in the Real World, Too</a></h2>
<p>07 Apr 2023</p>
</div>

<div class="hover 208493"></div>
</div>
<div class="card style_1">
<div class="image">
<div class="wrapper">
<a class="image" href="/tv/156819" title="Rabbit Hole">
        <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/zb5MArsrMxK4mSSLzUmbfcXAc60.jpg" srcset="/t/p/w220_and_h330_face/zb5MArsrMxK4mSSLzUmbfcXAc60.jpg 1x, /t/p/w440_and_h660_face/zb5MArsrMxK4mSSLzUmbfcXAc60.jpg 2x" alt="">

</a>
</div>
<div class="options" data-id="156819" data-object-id="61f9c47568929c0068ae3f37" data-media-type="tv" data-role="tooltip">
<a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
</div>
</div>
<div class="content">
<div class="consensus tight">
<div class="outer_ring">
  <div class="user_score_chart 61f9c47568929c0068ae3f37" data-percent="73.0" data-track-color="#204529" data-bar-color="#21d07a">
    <div class="percent">
        <span class="icon icon-r73"></span>
    </div>
  <canvas height="51" width="51" style="height: 34px; width: 34px;"></canvas></div>
</div>
</div>

<h2><a href="/tv/156819" title="Rabbit Hole">Rabbit Hole</a></h2>
<p>26 Mar 2023</p>
</div>

<div class="hover 156819"></div>
</div>
<div class="card style_1 spacer"></div>

<script style="">
$(function() {
$('.user_score_chart.4e9de7a65e73d65e02000328').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5f18a10fa6d9310034800877').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5da298211967570013a99bbb').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5e55ba97a93d2500134fa1ee').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.60ec1b53140bad00732cc9d2').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5ce32ed89251412d00be7e96').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5a38778c0e0a264cc82048f6').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5a73673492514105a900ee77').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.63ed8e118e870200823bb39a').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5bc35421c3a3682d5b04afcc').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.62c7b13ff29d66004e413b78').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.60719a15839d930029868344').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5f5161f1a199a60035274b1a').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.58cb3d8d9251415e76005e9c').easyPieChart({
  lineCap: 'butt',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.61f59a4037b3a900982c829b').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5c01bcd20e0a26360e087b05').easyPieChart({
  lineCap: 'butt',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.5abd53dbc3a36843a603252d').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.637619c62faf4d00dc9940d0').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.62ff5623fe6c180093890c3f').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
$(function() {
$('.user_score_chart.61f9c47568929c0068ae3f37').easyPieChart({
  lineCap: 'round',
  lineWidth: 2,
  scaleColor: false,
  size: 34,
  animate: {
    enabled: false
  }
});
});
</script></div>
  </div>